.dummy{
	color : black;
}

.icon_container:hover{
    transform: scale(1.2); 
    cursor: pointer;     
}

.custom-pre{
    font-family: 'Calibri'; 
    font-size: 15px;
}

.headingpopup{
     font-size: 16px;
}

.viewHover :hover{ 
    color: blue;
}
