.dummy{
	color : black;
}

.custom-pre{
    font-family: 'Calibri'; /* Change the font-family to your preference */
    font-size: 15px;
}

.headingpopup{
     font-size: 16px;
}

.viewHover :hover{ 
    color: blue;
}